---
const { frontmatter } = Astro.props;
import '../styles/main.scss'
import config from '../site.config';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title} - {config.name}</title>
	</head>
	<body class="pb-10">
		<nav id="main-nav" class="w-full sticky top-0 z-[70]">
			<div class="bg-gradient-to-t from-[#111111] to-[#444444] text-zinc-200">
				<div class="nav px-8 mx-auto flex flex-row-reverse justify-between items-center">
					<ul class="flex flex-row font-semibold">
						<li><a href={config.base}>Home</a></li>
						<li><a href={config.base + "/about"}>About</a></li>
						<li><a href="https://github.com/ohbendy/Scripts-of-SEAsia" target="_blank">GitHub</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<main class="mx-auto px-8 pt-8 md:pt-12 lg:pt-20 3xl:pt-28">
			<div class="px-6 py-4 md:px-10 md:py-8 lg:py-12 lg:px-16 3xl:py-20 3xl:px-24 bg-[#f8f8f8] rounded-2xl shadow-xl">
				<h1 class="text-2xl 2xl:text-3xl mb-6 font-medium">{frontmatter.title}</h1>
				<slot />
			</div>
		</main>

		<div id="scrolltop" class="transition-transform fixed bottom-10 right-10 rounded-full rotate-180 opacity-0">
			<a onclick="window.scrollTo({top: 0, behavior: 'smooth'});" class="">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-16 text-pink-400 hover:text-pink-500 cursor-pointer">
					<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm.53 5.47a.75.75 0 0 0-1.06 0l-3 3a.75.75 0 1 0 1.06 1.06l1.72-1.72v5.69a.75.75 0 0 0 1.5 0v-5.69l1.72 1.72a.75.75 0 1 0 1.06-1.06l-3-3Z" clip-rule="evenodd" />
				</svg>
			</a>			
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
</style>
